CurrencyMethods.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://Currency/" name="CurrencyMethods" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://Currency/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Currency/" schemaLocation="CurrencyMethods_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="convertEuro">
    <part name="parameters" element="tns:convertEuro"/>
  </message>
  <message name="convertEuroResponse">
    <part name="parameters" element="tns:convertEuroResponse"/>
  </message>
  <message name="convertPound">
    <part name="parameters" element="tns:convertPound"/>
  </message>
  <message name="convertPoundResponse">
    <part name="parameters" element="tns:convertPoundResponse"/>
  </message>
  <message name="convertYen">
    <part name="parameters" element="tns:convertYen"/>
  </message>
  <message name="convertYenResponse">
    <part name="parameters" element="tns:convertYenResponse"/>
  </message>
  <message name="convertCDNDollar">
    <part name="parameters" element="tns:convertCDNDollar"/>
  </message>
  <message name="convertCDNDollarResponse">
    <part name="parameters" element="tns:convertCDNDollarResponse"/>
  </message>
  <portType name="CurrencyMethods">
    <operation name="convertEuro">
      <input wsam:Action="http://Currency/CurrencyMethods/convertEuroRequest" message="tns:convertEuro"/>
      <output wsam:Action="http://Currency/CurrencyMethods/convertEuroResponse" message="tns:convertEuroResponse"/>
    </operation>
    <operation name="convertPound">
      <input wsam:Action="http://Currency/CurrencyMethods/convertPoundRequest" message="tns:convertPound"/>
      <output wsam:Action="http://Currency/CurrencyMethods/convertPoundResponse" message="tns:convertPoundResponse"/>
    </operation>
    <operation name="convertYen">
      <input wsam:Action="http://Currency/CurrencyMethods/convertYenRequest" message="tns:convertYen"/>
      <output wsam:Action="http://Currency/CurrencyMethods/convertYenResponse" message="tns:convertYenResponse"/>
    </operation>
    <operation name="convertCDNDollar">
      <input wsam:Action="http://Currency/CurrencyMethods/convertCDNDollarRequest" message="tns:convertCDNDollar"/>
      <output wsam:Action="http://Currency/CurrencyMethods/convertCDNDollarResponse" message="tns:convertCDNDollarResponse"/>
    </operation>
  </portType>
  <binding name="CurrencyMethodsPortBinding" type="tns:CurrencyMethods">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="convertEuro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="convertPound">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="convertYen">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="convertCDNDollar">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CurrencyMethods">
    <port name="CurrencyMethodsPort" binding="tns:CurrencyMethodsPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

